{% extends "base_layout.html" %}

{% block title %}Create Reservation{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<!-- begin page content -->
<div class="row">

    <a href="/">
        <image src="{{ url_for('static', filename = 'images/home-icon.png'   )}}" width=10%>

    </a>
    <div class="col-sm-12">
        <h1>Create Reservation</h1>
        <p>Add your reservation.</p>
    </div>

    <div class="form-style-1">
        <formtitle>Form to A Create New Reservation</formtitle>
        <form method="POST" action="./createRes">
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="userID"><span></label><input type="text" id="userID"
                                value={{userID}} name="userID" class="readonly-input-field">
                            <label for="hotel"><span>Hotel Name:</label>
                            <select name="hotel" id="hotel" method="GET" action="/">
                                <option value="hotel_options[0]" selected>{{hotel_options[0]}}</option>
                                {% for hotel in hotel_options[1:] %}
                                    <option value= "{{hotel}}" SELECTED>{{hotel}}</option>"
                                {% endfor %}
                            </select>
                            <label for="check_in"><span>Check in:</span></label><input type="date" id="check_in"
                                name="checkIn" class="text-input-field">
                            <label for="check_out"><span>Check out:</span></label><input type="date" id="check_out"
                                name="checkOut" class="text-input-field">
                            <label for="num_room"><span>Number of Rooms:<input type="number"
                                value= 0 name="num_room" class="input-field">
                            
                        </div>
                        <div class="col-sm-6">
                            <!--Rest of the info needed-->
                            <br><label for="standard"><span>Number of Standard Rooms:<input type="number"
                                value= 0 name="standard" class="input-field">
                            <br><br><label for="queen"><span>Number of Queen Rooms:<input type="number"
                                value= 0 name="queen" class="input-field">
                            <br><br><label for="king"><span>Number of King Rooms:<input type="number"
                                value= 0 name="king" class="input-field">
                            <br><br><label for="total_price"><span>Total price:</span></label><input type="text"
                                id="total_price" class="readonly-input-field" readonly>
                        </div>
                    </div>
                </div>
                <br><input type="submit" value="Submit Reservation">
            </section>
            <br><br><br>
        </form>
    </div>
</div>
<!-- end page content -->
{% endblock %}