<!DOCTYPE html>
<html>

<head>
    <meta name="OIR Requests Portal" content="IR Requests Log Portal Site">
    <title>Hotel Reservation - {% block title %}{% endblock %}</title>
</head>

<!--Top Navigation-->
<h1 id="navigation-bar" hidden>Navigation Bar</h1>
<ul id="PageNav">
    <li>
        <a href="/">
            Reservations Home
        </a>
    </li>
    <li>
        <a href="dashboard">
            Reservations Dashboard
        </a>
    </li>
</ul>

<body>
    <section class="container" id="site-content">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-12" role="main">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
                <div class="row">
                </div>
            </div>
        </div>
    </section>
</body>

</html>