{% extends "base_layout.html" %}

{% block title %}Update Reservation{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<!-- begin page content -->
<div class="row">

    <a href="/">
        <image src="{{ url_for('static', filename = 'images/home-icon.png'   )}}" width=10%>

    </a>
    <div class="col-sm-12">
        <h1>Update Reservation</h1>
        <p>Update your reservation.</p>
    </div>

    <div class="form-style-1">
        <formtitle>Form to Update Reservation {{formID}}</formtitle>
        <form method="POST" action="./updateRes">
            <!--Requestor section-->
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="formid"><span></span></label><input type="text" id="formid" value="{{formID}}"
                                name="formID" class="readonly-input-field" readonly>
                            <label for="hotel"><span>Hotel Name:</span></label><input type="text" id="hotel"
                                value="insert hotel name here" class="readonly-input-field" readonly>
                            <label for="check_in"><span>Check in:</span></label><input type="date" id="check_in"
                                value="{{res.check_in}}" name="newCheckIn" class="text-input-field">
                            <label for="check_out"><span>Check out:</span></label><input type="date" id="check_out"
                                value="{{res.check_in}}" name="newCheckOut" class="text-input-field">
                            <label for="total_price"><span>Total price:</span></label><input type="text"
                                id="total_price" value="{{res.total_price}}" class="readonly-input-field" readonly>
                        </div>
                        <div class="col-sm-6">
                            <!--Rooms-->
                            <p>Rooms will go here</p>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Submit Changes">
            </section>
            <br><br><br>
        </form>
    </div>
</div>
<!-- end page content -->
{% endblock %}